*{
    margin: 0;
    padding: 0;
}


body{
    background-color: floralwhite
}

nav {
    width: 100%;
    height: 45px;
    background-color: #fff;
    padding-left: 10px;
}

nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 40px;
    float:left;
    padding: 0px 100px 0px 0px;
}

nav ul{
    float: center;
    
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
    
    
}

nav ul li a {
    display: block;
    font-family: arial;
    color: #222;
    font-size: 16px;
    padding: 15px 20px;
    text-decoration: none;
    
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul {
    display: block;
    
}

nav ul li ul li  {
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a {
    padding: 7px 0.7px;
}
nav ul li ul li a:hover {
    background-color: #f3f3f3
}

#header{
    padding: 3em 0em 0em 1em;
    font-size: 2em;
    text-align: center
        
}

#about{
    font-family: sans-serif;
    font-size: 25px;
    padding: 60px;
    text-align: center;
    
    
}
#profile{
    height: 350px;
    padding: 10em 1em 1em 0em;
    position: static;
}
#weeksprogress{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2em;
    
}

#starting {
    text-align: center;
    font-size: 1.3em;
    padding-top: 0.7em;

}

#link{
    font-size: 1em;
    text-align: center;
    
}

#startingend {
    text-align: center;
    font-size: 1.3em;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}

#screenshots{
    position: inherit;
    padding: 2em 0em 2em 3em;
     margin-left: auto;
    margin-right: auto;
    display: block;
                                
    
}

#footer{
    text-align: center;
    padding-top: 3em;
    
}

#liste{
    
    list-style: disc;
    text-align: center;
    padding-bottom: 1.1em;
}
#starting1 {
    text-align: center;
    font-size: 1.3em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size:1.3em;
    text-align: center;
    margin-left: 35em;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1.3em;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}